/*All*/
body{
    background-color: rgb(255, 255, 255);    
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/*All End*/

/*Header Start*/
#sec-header{
    position: fixed;
    left: 0px;
    top: -10px;
    width: 100vw;
    height: 70px;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 1px;
    z-index: 2;
}
#sec-header h1{
    margin-top: 25px;
    margin-left: 220px;
}
#sec-header li{
    list-style: none;
    display: inline;
    position: relative;
    top: -42px;
    right: -600px; 
    padding: 5px;
}
#sec-header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#sec-header a:hover {
    color: rgb(0, 202, 0);
}
#sec-header a:active {
    color: rgb(255, 0, 0);
}
/*Header End*/

/*Landing Start*/
#sec-landing{
    background-position:center;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
    object-fit: contain;
    height: 380px;
    width: auto;
    margin: -8px;
    margin-top: -10px;
    margin-bottom: 100px;
    padding: 140px;
}

.info-container .info-item-home h1{
    font-size: 60px;
    line-height: 0.5;
    position: relative;
    top: 50px;
    left: 80px;
    color: white;
}
.info-container .info-item-home p{
    position: relative;
    font-size: 20px;
    top: 20px;
    left: 81px;
    line-height: 2;
    color: white;
}
.info-container .info-item-home img{
    height: 40px;
    margin-left: 1px;
    position: relative;
    top: 10px;
    left: 80px;
    display: inline-block;
    padding-right: 5px;
    z-index: 1;
}
/*Landing End*/

/*About Start*/
/*About End*/

/*Skills Start*/
/* Skills End*/

/*Education Start*/
/*Education End*/

