/*All*/
body{
    background-color: rgb(255, 255, 255);    
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/*All End*/

/*Header Start*/
#sec-header{
    position: fixed;
    left: 0px;
    top: -10px;
    width: 100vw;
    height: 70px;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 1px;
    z-index: 2;
}
#sec-header h1{
    margin-top: 25px;
    margin-left: 220px;
}
#sec-header li{
    list-style: none;
    display: inline;
    position: relative;
    top: -42px;
    right: -600px; 
    padding: 5px;
}
#sec-header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#sec-header a:hover {
    color: rgb(0, 202, 0);
}
#sec-header a:active {
    color: rgb(255, 0, 0);
}
/*Header End*/

/*Landing Start*/
#sec-landing{
    background-position:center;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
    object-fit: contain;
    height: 350px;
    width: auto;
    margin: -8px;
    margin-top: -10px;
    margin-bottom: 25px;
    padding: 155px;
}

.info-container .info-item-home h1{
    font-size: 60px;
    line-height: 0.5;
    position: relative;
    top: 50px;
    left: 80px;
    color: black;
}
.info-container .info-item-home p{
    position: relative;
    font-size: 20px;
    top: 20px;
    left: 81px;
    line-height: 2;
    color: black;
}
.info-container .info-item-home img{
    height: 40px;
    margin-left: 1px;
    position: relative;
    top: 10px;
    left: 80px;
    display: inline-block;
    padding-right: 5px;
    z-index: 1;
}
/*Landing End*/

/*About Start*/
#sec-about{
    margin-top: 37px;
}
.info-item-about h1{
    text-align: center;
    margin-top: 5px;
    font-size: 40px;
}
.info-item-about h2{
    margin-top: 100px;
    text-align: left;
    position: relative;
}
.info-item-about h3{
    font-size: 15px;
}
.info-item-about h4{
    margin-bottom: 220px;

}
.info-item-about img{
    height: 350px;
    width: 300px;
    object-fit: fill;
    border-radius: 25px;
    float: left;
    margin-top: 45px;
    margin-left: 250px;
    margin-right: 50px;
}
.info-item-about p{
    position: relative;
    text-align: left;
    line-height: 2;
    padding-bottom: 3px;
}
.info-item-about span{
    font-weight: bold;
}
/*About End*/

/*Skills Start*/
#sec-skills {
    background-color: #394867;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
    margin-left: -15px;
    margin-right: -8px;
    margin-top: 250px;
    padding-top: 20px;
    padding-bottom: 60px;
}
.skills-container h1{
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    color: white;
}
.skills-card {
    background-color: #212A3E;
    box-shadow: 5px 5px 5px rgba(15, 15, 15, 0.1);
    border-radius: 25px;
    overflow: hidden;
    width: 160px;
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 25px;
    position: relative;
    left: 315px;
    opacity: 85%;
}
.skills-card img{
    height: 55px;
    object-fit: cover;
    text-align: center;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.skills-card h2{
    text-align: center;
    font-size: 15px;
    color: white;
}
.skills-card:hover{
    opacity: 100%;
    background-color: #192030;
    box-shadow: 15px 15px 15px rgba(44, 44, 44, 0.1);
}
/* Skills End*/

/*Education Start*/
#sec-education{
    margin-bottom: 25px;
    background-color: #E3FDFD;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    padding-top: 10px;
    padding-bottom: 120px;
}
.info-item-education h1{
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
}
.educ-card{
    margin-bottom: 25px;
    margin-left: 230px;
    margin-right: 230px;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 9px 9px 9px rgba(8, 8, 8, 0.1);
    opacity: 95%;
}

.educ-card img{
    height: 100px;
    object-fit: cover;
    text-align: center;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 50px;
    float: left;
}
.educ-card h2{
    font-size: 20px;
    margin-bottom: 45px;
    font-style: italic;
    font-weight: bold;
}
.educ-card p{
    margin-top: -35px;
    font-size: 15px;
}
.educ-card p span{
    position: relative;
    top: 5px;
    font-size: 13px;
}
.educ-card:hover{
    box-shadow: 5px 5px 20px -5px rgb(34, 34, 34);
    opacity: 100%;
}
/*Education End*/
/*Project Start*/
#sec-project{
    background-color: #2D4356;
    margin-top: -33px;
    margin-left: -10px;
    margin-right: -8px;
    padding-bottom: 100px;
    color: white;
}
#sec-project h1{
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
}
#sec-project h2{
    text-align: center;
    font-size: 30px;
}
.project-slides img{
    margin-left: 50px;
    height: 500px;
    width: 1250px;
    object-fit:fill;
    border-radius: 25px;
    vertical-align: middle;
    box-shadow: 5px 5px 20px -5px rgb(34, 34, 34);
}
.img-dot{
    text-align: center;
}
.project-slides{
    display: none;
}.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 472%;
  width: auto;
  margin-top: -50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 15px;
  color: #8ACDD7;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 2px 2px 0;
  user-select: none;
}
.next {
    right: 0;
    border-radius: 0px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.slidetext{
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 500%;
  margin-left: 650px;
  text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #1c2935;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*Project End*/

/*Experiences Start*/
#sec-experiences{
    background-color: #C5E898;
    margin-top: -33px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 25px;
}
#sec-experiences h1{
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
}
.exp-card{
    margin-bottom: 25px;
    margin-left: 290px;
    margin-right: 230px;
    background-color: white;
    width: 750px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 9px 9px rgba(8, 8, 8, 0.1);
    opacity: 95%;
}
.exp-card img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    float: left;
    margin-right: 45px;
    margin-left: 30px;
}
.exp-card h2{
    font-size: 18px;
    font-style: italic;
}
.exp-card h3{
    font-size: 15px;
}
.exp-card p{
    font-size: 13px;
}
.exp-card:hover{
    box-shadow: 5px 5px 20px -5px rgb(34, 34, 34);
    opacity: 100%;
}
/*Experiences End*/

/*Contact Start*/
#sec-contact{
    background-color: #092635;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    overflow: hidden;
}
#sec-contact h1{
    margin-top: 5px;
    font-size: 25px;
}
.contact-container h1{
    text-align: center;
}
.contact-card{
    position: relative;
    margin-left: 750px;
    right: auto;
}
.info-item-contact p{
    font-size: 15px;
}
.info-item-contact img{
    height: 25px;
    padding-top: 5px;
    object-fit: contain;
    float: inline-start;
    margin-right: 10px;
}
.contact-card li{
    list-style: none;
    font-size: 13px;
    line-height: 16px;
    margin-top: -5px;
    margin-bottom: 25px;
    padding-top: 8px;
}
.contact-text{
    position: relative;
    top: 28px;
    left: 290px;
    line-height: 30px;
}
.contact-text a{
    position: relative;
    top: -10px;
}
.card-container {
    position: relative;
    top: -40px;
}
/*Contact End*/