/*All*/
body{
    background-color: rgb(255, 255, 255);    
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/*All End*/

/*Header Start*/
#sec-header{
    position: fixed;
    left: 0px;
    top: -10px;
    width: 100vw;
    height: 70px;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 1px;
    z-index: 2;
}
#sec-header h1{
    margin-top: 25px;
    margin-left: 20px;
}
#sec-header li{
    list-style: none;
    display: inline;
    position: relative;
    top: -44px;
    right: -670px; 
    padding: 5px;
}
#sec-header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#sec-header a:hover {
    color: rgb(0, 202, 0);
}
#sec-header a:active {
    color: rgb(255, 0, 0);
}
/*Header End*/

/*Landing Start*/
#sec-landing{
    background-image: url("/img/darkpattern.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 500px;
    margin: -10px;
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 50px;
    overflow: hidden;
}
.info-container .info-item-home img{
    height: 40px;
    margin-left: 1px;
    position: relative;
    top: 30px;
    left: 80px;
    display: inline-block;
    padding-right: 5px;
    z-index: 1;
}
.info-container .info-item-home h1{
    font-size: 60px;
    line-height: 0.5;
    position: relative;
    top: 80px;
    left: 80px;
    color: white;
}
.info-container .info-item-home p{
    position: relative;
    font-size: 20px;
    top: 50px;
    left: 80px;
    line-height: 2;
    color: white;

}

/*Landing End*/

/*About Start*/
/*About End*/

/*Skills Start*/
/* Skills End*/

/*Education Start*/
/*Education End*/

